name: React app deployement

on:
  push:
    branches: master
    branches: CU-rq6ur2_Deploy-sample-app

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Deploy react app to github pages
      uses: tanwanimohit/deploy-react-to-ghpages@v1.0.1